@charset "UTF-8";
/* CSS Document */

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
}

html {
	scroll-snap-type: y proximity;
	scroll-padding-top: 120px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  vertical-align: bottom;
}

ul {
  list-style: none;
}

body {
  font-family: "YakuHanJP_Narrow","Zen Kaku Gothic New", sans-serif;
  color: #475045;
  background-color: #fcfcfc;
  font-size: 15px;
  letter-spacing: 0.05em;
}

a {
  text-decoration: none;
  color:inherit;
}

.body-wrapper {
  overflow: hidden;
}


/* カーソル */

@media screen and (min-width: 900px) {

html,
body,
a {
    cursor: none;
}

.cursor {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #dcfab6;
    z-index: 9999;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    transform: translate(0, 0);
    pointer-events: none;
}

.cursor.cursor--hover {
    top: -20px;
    left: -20px;
    width: 60px;
    height: 60px;
    background: rgba(177, 217, 121, 0.5);
}

}

/* loading */

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--LOADING_INDEX);
  width: 100%;
  height: 100%;
  background-color: #fff;
  pointer-events: none;
}

.loading__logo-wrapper {
  display: grid;
}

.loading__logo {
  display: none;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 140px;
}


/* header */

/* #header-nav {
  display: none;
} */

  .header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 99;
  }

  .header__list {
  display: flex;
      margin-bottom: 0;
      list-style-type: none; /* 数字や点などのマーカーを消す */
      padding-left: 0; /* 数字のインデントも消す */
    }
   .header__item:not(:last-of-type) {
      margin-right: 60px;
      margin-bottom: 0;
    }
  .header__link {
      position: relative;
      padding: 8px;
      overflow: visible;
      opacity: 1;
    }
  .header__link::after {
      position: absolute;
      content: "";
      left: 8px;
      bottom: 2px;
      width: calc(100% - 16px);
      height: 1px;
      background-color: var(--white);
      transform: scaleX(0);
      transform-origin: right;
      transition: transform 0.4s cubic-bezier(0.19, 0.61, 0.36, 1);
    }
  .header__link:hover::after {
      transform: scaleX(1);
      transform-origin: left;
    }
  .header__wrapper {
      display: inline-flex;
      opacity: 1;
      transform: translateY(0);
      transition: none;
    }
   .header__text {
      margin-right: 0;
      font-size: 1.4rem;
      font-weight: 300;
      font-family: var(--sub-font);
    }
  .header__number {
      display: none;
    }


  #sp-hamburger {
    background-color: transparent;
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 2.604166666666667vw;
    width: 4.166666666666666vw;
    z-index: 100;
    transition-duration: 0.6s;
    transition-property: all;
    transition-timing-function: ease;
  }

  #sp-hamburger.OpacityOn {
    opacity: 0;
  }

  #sp-hamburger.OpacityOff {
    opacity: 1;
  }
  #sp-hamburger .icon span {
    position: absolute;
    left: 0.78125vw;
    width: 2.6vw;
    height: 1px;
    background-color: #37383C;
    border-radius: 0.4166666666666667vw;
    transition: ease 0.75s;
  }
  #sp-hamburger .icon span:nth-of-type(1) {
    top: 0.9375vw;
  }
  #sp-hamburger .icon span:nth-of-type(2) {
    display: none;
  }
  #sp-hamburger .icon span:nth-of-type(3) {
    bottom: 0.8333333333333334vw;
  }
  #sp-hamburger .open span:nth-of-type(1) {
    top: 1.4583333333333333vw;
    transform: rotate(30deg);
    background-color: #84B5C5;
  }
  #sp-hamburger .open span:nth-of-type(2) {
    opacity: 0;
  }
  #sp-hamburger .open span:nth-of-type(3) {
    top: 1.4583333333333333vw;
    transform: rotate(-30deg);
    background-color: #84B5C5;
  }
  .sp-nav {
    display: none;
    z-index: 99;
    position: absolute;
    top: 0;
    right: 0;
    width: 13.5vw;
    background: #fcfcfc;
    box-shadow: -0.26041666666666663vw 0.26041666666666663vw 2.0833333vw 0px #dddddd;
    border-radius: 0 0 0 1.5625vw;
    text-align: center;
  }

  .sp-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 50svh;
    padding-inline: 2.083333333333333vw;
    padding-top: 5vw;
    gap: 1.2vw;
  }

  .sp-nav li {
    padding: 1.0416666666666665vw;
    padding-top: 0;
    font-size: 0.7vw;
    text-align: center;
    letter-spacing: 0.1rem;
    position: relative;
    width: 100%;
  }
  .sp-nav a {
    color: #37383C;
    transition: all 0.4s;
  }

  .sp-nav a:hover {
    color: #84B5C5;
  }

.sp-nav li span {
  content: "";
  color:#84B5C5;
  font-size: 0.5208333333333333vw;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: 0.15em;
  font-weight: 300;
  position: absolute;
  bottom: 0.2vw;
  left: 50%;
  transform: translateX(-50%);
}

.nav-illust {
  width: 50%;
  /* position: absolute;
  bottom: 0.5208333333333333vw;
  left: 50%;
  transform: translateX(-50%); */
}



@media screen and (max-width: 959px) {

  #sp-hamburger.OpacityOn {
    opacity: 1;
  }

  .nav-illust {
    display:none;
    /* width: 37.333333333333336vw;
    position: absolute;
    bottom: 2.666666666666667vw;
    right: 2.666666666666667vw;
    left: auto;
    transform: none; */
  }

  #sp-hamburger {
    right: 2.666666666666667vw;
    top: 1.3333333333333335vw;
    height: 16vw;
    width: 16vw;
    z-index: 100;
  }

  .sp-nav {
    top: 0;
    right: 0;
    width: 100%;
    background: #F6F8F8;
    box-shadow:none;
    border-radius: 0;
  }

  .sp-nav ul {
    height: 100svh;
    padding: 40px;
    gap: 8vw;
  }
  .sp-nav li {
    padding: 5.333333333333334vw;
    padding-top: 0;
    font-size: 3.733333333333334vw;
    text-align: center;
    letter-spacing: 0.1rem;
  }

  #sp-hamburger .icon span {
    position: absolute;
    left: 4vw;
    width: 8vw;
    height: 1px;
    background-color: #37383C;
    border-radius: 2.1333333333333333vw;
    transition: ease 0.75s;
  }

  #sp-hamburger .icon span:nth-of-type(1) {
    top: 6.666666666666667vw;
  }
  #sp-hamburger .icon span:nth-of-type(2) {
    display: none;
  }
  #sp-hamburger .icon span:nth-of-type(3) {
    bottom: 6.666666666666667vw;
  }
  #sp-hamburger .open span:nth-of-type(1) {
    top: 7.466666666666668vw;
    transform: rotate(30deg);
    background-color: #84B5C5;
  }
  #sp-hamburger .open span:nth-of-type(2) {
    opacity: 0;
  }
  #sp-hamburger .open span:nth-of-type(3) {
    top: 7.466666666666668vw;
    transform: rotate(-30deg);
    background-color: #84B5C5;
  }

  .sp-nav li span {
    content: "";
    color:#84B5C5;
    font-size: 2.4vw;
    font-family: "Albert Sans", sans-serif;
    letter-spacing: 0.15em;
    font-weight: 300;
    position: absolute;
    bottom: 1.6vw;
    left: 50%;
    transform: translateX(-50%);
  }


}



/* footer */

footer {
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  background:#37383C;
  width:1px;/*線の幅指定*/
  height:160px;
  top: -160px;
  right: 50%;
  animation: pathmove 2s ease-in-out infinite;
	opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:-160px;
		opacity: 0;
	}
	30%{
		height:120px;
		opacity: 1;
	}
	100%{
		height:0;
		top:160px;
		opacity: 0;
	}
}

.footer__contact {
  text-align: center;
  background-image: url(../images/common/footer-size02.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  height: 850px;
  padding: 330px 0 0 0;
}

.contact__content-wrapper {
  max-width: 1080px;
  margin: 0 auto;
  position: relative;
}

.contact-illust {
  position: absolute;
  top: -35%;
  transform:translateX(-50%);
  left: 50%;
  width: 100px;
}

.contact__thanks-message {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 60px;
}

.contact-text-image {
  width: 880px;
  margin-bottom: 60px;
}

.contact__mail span {
  display: block;
  margin-bottom: 24px;
}

.mail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 420px;
  margin: 0 auto;
  padding: 23px 95px 23px 80px;
  border: 1px solid #84B5C5;
  border-radius: 40px;
  background-color: #fff;
  color: #84B5C5;
  font-size: 15px;
  font-family: "Albert Sans", sans-serif;
  letter-spacing: 0.12em;
  position:relative;
  transition: all 0.3s;
}

.mail-btn:hover {
  background-color: #84B5C5;
  color: #fff;
}

.mail-btn::after {
  background: url(../images/common/yazirushi.svg) no-repeat;
  width: 16px;
  height: 16px;
  top: 23px;
  right: 75px;
  content: '';
  position:absolute;

}

.mail-btn:hover::after {
  background: url(../images/common/yazirushi-white.svg) no-repeat;
  width: 16px;
  height: 16px;
  top: 23px;
  right: 75px;
  content: '';
  position:absolute;
}

.footer__content-wrapper {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 25px 20px;
}

.footer__content-wrapper nav ul li{
  display: inline-block;
  font-weight: 500;
  letter-spacing: 0.16em;
  font-size: 14px;
}

.footer__content-wrapper nav ul {
  transition: all 0.4s;
}

.footer__list01 {
  margin-right: 36px;
  position: relative;
}

.footer__list01::after {
  content:"/";
  position: absolute;
  top: 0;
  right: -25px;
}

.footer__list01 a:hover,.footer__list02 a:hover  {
opacity: 0.6;
}

small {
  font-weight: 500;
  letter-spacing: 0.16em;
  font-size: 12px;
}

/* component */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}

.split-text__wrapper {
  display: inline-block;
  -webkit-clip-path: inset(0 0 -0.1em);
  clip-path: inset(0 0 -0.1em);
}

.split-text .letter {
  transform: translateY(100%);
}

.split-text.is-show .letter {
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.73, 0, 0.17, 1) calc(0.04s * var(--char-index));
}

.heading--about,
.heading--work,
.heading--strength {
  margin-bottom: 50px;
}

.heading--skills {
  margin-bottom: 70px;
}

.heading--skills .heading__jp,
.heading--biography .heading__jp {
  color: var(--gray);
}

.heading--work .heading__en
.split-text__wrapper:first-of-type {
  margin-right: -5px;
}

.heading--biography {
  margin-bottom: 90px;
}

.heading--biography .heading__en {
  font-size: 3.6rem;
}

.heading__wrapper {
  margin-bottom: -8px;
  margin-right: 8px;
}

.heading__en {
  font-size: 4.8rem;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
}

.heading__jp {
  padding-bottom: 10px;
  font-size: 1.2rem;
  transition-delay: 0.4s;
}

.sns-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.sns-list__item svg {
  width: 14px;
  height: 14px;
}

.sns-list--white .sns-list__item use {
  fill: var(--white);
}

.sns-list--black .sns-list__item use {
  fill: var(--black);
}

.works-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2列に設定 */
  gap: 20px; /* アイテム間のスペース */
}

.works-list__item {
  background-color: #fff; /* アイテムの背景色を設定（任意） */
  padding: 15px; /* アイテムの内側の余白 */
  border-radius: 8px; /* アイテムの角を丸くする（任意） */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 軽い影を追加（任意） */
}

@media (max-width: 768px) {
  .works-list {
    grid-template-columns: 1fr; /* 画面幅が768px以下の場合は1列に */
  }
}

.works-list__link {
  display: flex;
  flex-direction: column;
  color: var(--black);
  text-decoration: none; /* リンクの下線を消す */
}

.works-list__category {
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 1.2rem;
}

.works-list__title {
  font-size: 1.5rem;
  font-weight: 600; /* 見出しの強調 */
}

.works-list__image {
  order: -1;
  margin-bottom: 16px;
  overflow: hidden;
  text-align: center;
}

.works-list__image img {
  max-width: 100%; /* 画像が親要素の幅に収まるようにする */
  height: auto; /* 高さを自動調整 */
  border-radius: 8px; /* 画像を丸角に */
}


.loop-text {
  position: absolute;
  display: flex;
  top: 50%;
  left: calc(50% - 50vw);
  z-index: -1;
  transform: translateY(-50%);
}

.loop-text__inner {
  padding-right: 20px;
  font-family: var(--main-font);
  font-size: 7.0rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: var(--bg-color);
  text-shadow: 1px 0 0 var(--black), 0 1px 0 var(--black), -1px 0 0 var(--black), 0 -1px 0 var(--black);
  white-space: nowrap;
  animation: slideText 20s linear infinite;
}

@media (min-width: 768px) {
  .heading--about,
  .heading--work,
  .heading--strength {
    margin-bottom: 80px;
  }

  .heading--skills {
    margin-bottom: 90px;
  }

  .heading--work .heading__en
  .split-text__wrapper:first-of-type {
    margin-right: -8px;
  }

  .heading--biography {
    margin-bottom: 140px;
  }

  .heading--biography .heading__en {
    font-size: 6.0rem;
  }

  .heading__wrapper {
    margin-bottom: -13px;
    margin-right: 16px;
  }

  .heading__en {
    font-size: 8.0rem;
  }

  .heading__jp {
    font-size: 1.6rem;
  }

  .sns-list {
    gap: 30px;
  }

  .sns-list__item {
    transition: opacity 0.3s ease-out;
  }

  .sns-list__item:hover {
    opacity: 0.6;
  }

  .sns-list__item svg {
    width: 16px;
    height: 16px;
  }

  .works-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 63px 30px;
  }

  .works-list__item {
    width: calc((100vw - 140px) / 3);
    max-width: 340px;
  }

  .works-list__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .works-list__title {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .works-list__image img {
    transition: transform 0.3s ease-out;
  }

  .works-list__link:hover .work-list__image img {
    transform: scale(1.1);
  }

}


/* ページトップに戻るボタン */

#page-top a img {
  width: 70px;
  height: 70px;
  transition: all 0.3s;
  position: relative;
}

/* 擬似要素を使ってイラストを追加 */
#page-top::after {
  position: absolute;
  content: "";
  background: url('../images/common/top-btn-illust.png') no-repeat;
  width: 55px;
  height: 104px; /* 適切な高さを設定 */
  bottom: -100px; /* ボタンの下に配置 */
  left: 47%;
  transform: translateX(-50%);
  background-size: cover;
}

/* リンクを右下に固定 */
#page-top {
  position: fixed;
  right: 70px;
  bottom: 180px;
  z-index: 2;
  /* はじめは非表示 */
  opacity: 0;
  transform: translateY(100px);
}

/* 上に上がる動き */
#page-top.UpMove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 下に下がる動き */
#page-top.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100px);
  }
}

@keyframes DownAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}


@media screen and (max-width:767px) {


  #page-top a img {
    width: 40px;
    height: 40px;
    transition: all 0.3s;
    position: relative;
  }

  #page-top::after {
    width: 33px;
    height: 62px;
    left: 48%;
    bottom: -60px;
  }

  #page-top {
    right: 8px;
    bottom: 68px;
  }

  .footer__content-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
  }

}

/* タブレット */
@media screen and (min-width:768px) and ( max-width:959px) {


  #page-top {
    right: 20px;
    bottom: 110px;
  }

  .footer__content-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.6;
  }

}

@media screen and (max-width:428px) {

  /* footer */

  .footer__contact {
    background-image: url(../images/common/footer_sp-bg.png);
    height: 480px;
  }

  .contact__thanks-message {
    font-size: 13px;
    margin-bottom: 32px;
  }

  .footer__contact {
    padding-top: 48%;
  }

footer::before {
  content: "";
  position: absolute;
  background:#37383C;
  width:1px;/*線の幅指定*/
  height:80px;
  top: -80px;
  right: 50%;
  animation: pathmove 2s ease-in-out infinite;
	opacity:0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:-80px;
		opacity: 0;
	}
	30%{
		height:60px;
		opacity: 1;
	}
	100%{
		height:0;
		top:80px;
		opacity: 0;
	}
}

.contact-text-image {
  width: 320px;
  margin-bottom: 30px;
}


.contact__mail span {
  font-size: 11.5px;
  margin-bottom: 16px;
}

.mail-btn {
  width: 273px;
}

.mail-btn {
  width: 274px;
  padding: 14px 24px 14px 10px;
  font-size: 11.5px;
  letter-spacing: 0.12em;
}

.mail-btn::after {
  background: url(../images/common/yazirushi.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 14px;
  right: 36px;
}

.mail-btn:hover:after {
  background: url(../images/common/yazirushi-white.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 14px;
  right: 36px;
}

.footer__content-wrapper ul {
  display: none;
}

.footer__content-wrapper {
  padding: 13px 0;
  justify-content: center;
}

small {
  font-size: 9px;
}

}

/* タブレットまで */
@media screen and (min-width:429px) and ( max-width:767px) {

  /* footer */

  .footer__contact {
    background-image: url(../images/common/footer_sp-bg.png);
    height: 520px;
  }

  .contact__thanks-message {
    font-size: 14px;
    margin-bottom: 32px;
  }

  .footer__contact {
    padding-top: 230px;
  }

.contact-text-image {
  width: 72vw;
  margin-bottom: 30px;
}

.contact-illust {
  width: 75px;
  top: -100px;
}

.contact__mail span {
  font-size: 12px;
  margin-bottom: 16px;
}

.mail-btn {
  width: 273px;
}

.mail-btn {
  width: 274px;
  padding: 14px 24px 14px 10px;
  font-size: 11.5px;
  letter-spacing: 0.12em;
}

.mail-btn::after {
  background: url(../images/common/yazirushi.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 14px;
  right: 36px;
}

.mail-btn:hover::after {
  background: url(../images/common/yazirushi-white.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 14px;
  right: 36px;
}

.footer__content-wrapper ul {
  display: none;
}

.footer__content-wrapper {
  padding: 13px 0;
  justify-content: center;
}

small {
  font-size: 9px;
}

footer::before {
  content: "";
  position: absolute;
  background:#37383C;
  width:1px;/*線の幅指定*/
  height:80px;
  top: -40px;
  right: 50%;
  animation: pathmove 2s ease-in-out infinite;
	opacity:0;
}


/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:-80px;
		opacity: 0;
	}
	30%{
		height:80px;
		opacity: 1;
	}
	100%{
		height:0;
		top:80px;
		opacity: 0;
	}
}

}

/* タブレット */
@media screen and (min-width:768px) and ( max-width:959px) {

  /* footer */

  .footer__contact {
    background-image: url(../images/common/footer_bg.png);
    height: 640px;
  }

  .contact__thanks-message {
    font-size: 18px;
    margin-bottom: 32px;
  }

  .footer__contact {
    padding-top: 260px;
  }

.contact-text-image {
  width: 72vw;
  margin-bottom: 30px;
}

.contact-illust {
  width: 10.986vw;
  top: -120px;
}

.contact__mail span {
  font-size: 14px;
  margin-bottom: 20px;
}

.mail-btn {
  width: 273px;
}

.mail-btn {
  width: 312px;
  padding: 14px 24px 14px 10px;
  font-size: 13px;
  letter-spacing: 0.12em;
}

.mail-btn::after {
  background: url(../images/common/yazirushi.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 14px;
  right: 36px;
}

.mail-btn:hover::after {
  background: url(../images/common/yazirushi-white.svg) no-repeat;
  width: 12px;
  height: 12px;
  top: 14px;
  right: 36px;
}

.footer__content-wrapper ul {
  display: none;
}

.footer__content-wrapper {
  padding: 13px 0;
  justify-content: center;
}

small {
  font-size: 11px;
}


footer::before {
  content: "";
  position: absolute;
  background:#37383C;
  width:1px;/*線の幅指定*/
  height:100px;
  top: -50px;
  right: 50%;
  animation: pathmove 2s ease-in-out infinite;
	opacity:0;
}


/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove{
	0%{
		height:0;
		top:-100px;
		opacity: 0;
	}
	30%{
		height:100px;
		opacity: 1;
	}
	100%{
		height:0;
		top:100px;
		opacity: 0;
	}
}


}



/* fadeUp */

.fadeUp{
  animation-name:fadeUpAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  }

  @keyframes fadeUpAnime{
    from {
      opacity: 0;
    transform: translateY(20px);
    }

    to {
      opacity: 1;
    transform: translateY(0);
    }
  }


  /* スクロールをしたら出現する要素にはじめに透過0を指定　*/

  .fadeUpTrigger{
      opacity: 0;
  }


  /* その場で */
.fadeIn{
  animation-name:fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
  }

  .fadeInTrigger{
    opacity: 0;
}

  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }


/* ヘッダーロゴspのみ */

.header__logo {
  display: none;
}

@media  screen and (max-width: 959px) {

.header__logo {
  display: block;
}

.header__logo img {
  width: 145px;
  padding: 20px 0 0 20px;
}
.about-title h2, .works__title h2 {
  display: none;
}

}