@charset "UTF-8";

:root {
  --main-font: freight-big-pro, serif;
  --sub-font: nort, Yu Gothic UI, sans-serif;
  --bg-color: #FDFDFD;
  --black: #1D1D1D;
  --white: #FFFFFF;
  --gray: #727272;
  --LOADING_INDEX: 70;
  --BUTTON_INDEX: 60;
  --NAV_INDEX: 50;
  --HEADER_INDEX: 40;
  --BG_INDEX: 30;
  --MAIN_INDEX: 20;
  --FOOTER_INDEX: 10;
}


/* common */
html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--black);
  font-family: var(--sub-font);
  line-height: 1;
}

main {
  position: relative;
  overflow-x: hidden;
  flex: 1;
  z-index: var(--MAIN_INDEX);
}

h1,h2,h3 {
  font-weight: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.sp-only {
  display: block;
}

.pc-only {
  display: none;
}

@media(min-width: 768px) {
  .sp-only {
    display: none;
  }

  .pc-only {
    display: block;
  }
}


/* loading */
body.is-fixed,
body.is-open {
  overflow: hidden;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--LOADING_INDEX);
  width: 100%;
  height: 100%;
  background-color: #1d1d1d;
  pointer-events: none;
}

.loading__logo-wrapper {
  display: grid;
}

.loading__logo {
  display: none;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: 140px;
}

/* header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--HEADER_INDEX);
  width: 100%;
  background-color: transparent;
  mix-blend-mode: difference;
}

.header__inner {
  padding-inline: 24px;
  padding-block: 20px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 18px;
  height: 22px;
  z-index: var(--BUTTON_INDEX);
}

.header__button {
  position: relative;
  z-index: var(--BUTTON_INDEX);
  color: var(--white);
  font-size: 1.2rem;
}

.header__close {
  display: none;
}

.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100dvh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: var(--NAV_INDEX);
  padding: 30px;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  transition-property: opacity, visibility;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.header__list {
  margin-bottom: 46px;
}

.header__item:not(:last-of-type) {
  margin-bottom: 14px;
}

.header__link {
  display: flex;
  overflow: hidden;
  opacity: 0;
  color: var(--white);
}

.header__wrapper {
  display: inline-flex;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1.3s cubic-bezier(0.22, 1, 0.36, 1) 0.3s;
}

.header__text {
  display: inline-block;
  margin-right: 6px;
  font-size: 4.8rem;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

.header__number {
  display: inline-block;
  margin-top: 8px;
}

.bg {
  height: 100dvh;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: var(--BG_INDEX);
  width: 100%;
  height: 100%;
  background-color: var(--black);
  transition-property: opacity, visibility;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

.is-open .header__nav {
  opacity: 1;
  visibility: visible;
}

.is-open .header__link {
  opacity: 1;
}

.is-open .header__wrapper {
  opacity: 1;
  transform: translateY(0);
}

.is-open .header__menu {
  display: none;
}

.is-open .header__close {
  display: block;
}

.is-open .bg {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .header__inner {
    padding-inline: 66px;
    padding-block: 40px;
  }

  .header__logo {
    width: 26px;
    height: 31px;
  }

  .header__button {
    display: none;
  }

  .header__nav {
    opacity: 1;
    visibility: visible;
    position: relative;
    width: auto;
    padding: 0;
    background-color: transparent;
  }

  .header .sns-list {
    display: none;
  }

  .header__list {
    display: flex;
    margin-bottom: 0;
  }

  .header__item:not(:last-of-type) {
    margin-right: 60px;
    margin-bottom: 0;
  }

  .header__link {
    position: relative;
    padding: 8px;
    overflow: visible;
    opacity: 1;
  }

  .header__link::after {
    position: absolute;
    content: "";
    left: 8px;
    bottom: 2px;
    width: calc(100% - 16px);
    height: 1px;
    background-color: var(--white);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s cubic-bezier(0.19, 0.61, 0.36, 1);
  }

  .header__link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .header__wrapper {
    display: inline-flex;
    opacity: 1;
    transform: translateY(0);
    transition: none;
  }

  .header__text {
    margin-right: 0;
    font-size: 1.4rem;
    font-weight: 300;
    font-family: var(--sub-font);
  }

  .header__number {
    display: none;
  }
}


/* footer */
.footer {
  padding-bottom: 30px;
  background-color: var(--black);
  color: var(--white);
  overflow: hidden;
}

.footer__inner {
  position: relative;
  z-index: var(--FOOTER_INDEX);
  padding-inline: 30px;
}

.footer__container {
  padding-top: 22px;
  border-top: 1px solid var(--gray);
}

.footer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer__button {
  font-size: 1.2rem;
}

.footer__link {
  color: var(--white);
}

.footer__copyright {
  text-align: center;
  color: var(--gray);
}

@media (min-width: 768px) {
  .footer {
    padding-bottom: 40px;
  }

  .footer__inner {
    padding-inline: 64px;
  }

  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }

  .footer__block {
    margin-bottom: 0;
  }

  .footer__button {
    margin-left: 80px;
    font-size: 1.4rem;
    font-weight: 300;
  }

  .footer__link {
    transition: opacity 0.3s ease-out;
  }

  .footer__link:hover {
    opacity: 0.6;
  }

  .footer__copyright {
    text-align: left;
  }
}


/* component */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  border: 0;
}

.split-text__wrapper {
  display: inline-block;
  -webkit-clip-path: inset(0 0 -0.1em);
  clip-path: inset(0 0 -0.1em);
}

.split-text .letter {
  transform: translateY(100%);
}

.split-text.is-show .letter {
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.73, 0, 0.17, 1) calc(0.04s * var(--char-index));
}

.heading--about,
.heading--work,
.heading--strength {
  margin-bottom: 50px;
}

.heading--skills {
  margin-bottom: 70px;
}

.heading--skills .heading__jp,
.heading--biography .heading__jp {
  color: var(--gray);
}

.heading--work .heading__en
.split-text__wrapper:first-of-type {
  margin-right: -5px;
}

.heading--biography {
  margin-bottom: 90px;
}

.heading--biography .heading__en {
  font-size: 3.6rem;
}

.heading__wrapper {
  margin-bottom: -8px;
  margin-right: 8px;
}

.heading__en {
  font-size: 4.8rem;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
}

.heading__jp {
  padding-bottom: 10px;
  font-size: 1.2rem;
  transition-delay: 0.4s;
}

.sns-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.sns-list__item svg {
  width: 14px;
  height: 14px;
}

.sns-list--white .sns-list__item use {
  fill: var(--white);
}

.sns-list--black .sns-list__item use {
  fill: var(--black);
}

.work-list__item:not(:last-of-type) {
  margin-bottom: 48px;
}

.work-list__link {
  display: flex;
  flex-direction: column;
  color: var(--black);
}

.work-list__category {
  margin-bottom: 8px;
  color: var(--gray);
  font-size: 1.2rem;
}

.work-list__title {
  font-size: 1.5rem;
}

.work-list__image {
  order: -1;
  margin-bottom: 16px;
  overflow: hidden;
  text-align: center;
}

.loop-text {
  position: absolute;
  display: flex;
  top: 50%;
  left: calc(50% - 50vw);
  z-index: -1;
  transform: translateY(-50%);
}

.loop-text__inner {
  padding-right: 20px;
  font-family: var(--main-font);
  font-size: 7.0rem;
  font-weight: 900;
  letter-spacing: 0.05em;
  color: var(--bg-color);
  text-shadow: 1px 0 0 var(--black), 0 1px 0 var(--black), -1px 0 0 var(--black), 0 -1px 0 var(--black);
  white-space: nowrap;
  animation: slideText 20s linear infinite;
}

@media (min-width: 768px) {
  .heading--about,
  .heading--work,
  .heading--strength {
    margin-bottom: 80px;
  }

  .heading--skills {
    margin-bottom: 90px;
  }

  .heading--work .heading__en
  .split-text__wrapper:first-of-type {
    margin-right: -8px;
  }

  .heading--biography {
    margin-bottom: 140px;
  }

  .heading--biography .heading__en {
    font-size: 6.0rem;
  }

  .heading__wrapper {
    margin-bottom: -13px;
    margin-right: 16px;
  }

  .heading__en {
    font-size: 8.0rem;
  }

  .heading__jp {
    font-size: 1.6rem;
  }

  .sns-list {
    gap: 30px;
  }

  .sns-list__item {
    transition: opacity 0.3s ease-out;
  }

  .sns-list__item:hover {
    opacity: 0.6;
  }

  .sns-list__item svg {
    width: 16px;
    height: 16px;
  }

  .work-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 63px 30px;
  }

  .work-list__item {
    width: calc((100vw - 140px) / 3);
    max-width: 340px;
  }

  .work-list__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .work-list__title {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .work-list__image img {
    transition: transform 0.3s ease-out;
  }

  .work-list__link:hover .work-list__image img {
    transform: scale(1.1);
  }

  .cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 6vw;
    height: 6vw;
    opacity: 0;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);
  }

  .cursor__text {
    font-size: 0.8vw;
    letter-spacing: 0.04em;
  }

  .cursor--work {
    background-color: var(--black);
  }

  .cursor--work .cursor__text {
    color: var(--white);
  }

  .cursor--footer {
    background-color: var(--white);
  }

  .cursor--footer .cursor__text {
    color: var(--black);
  }

  .loop-text__inner {
    font-size: 11.0rem;
  }
}


/* animation */
.animation-fadein {
  opacity: 0;
  transition: opacity 1.2s ease;
}

.animation-fadein.is-show {
  opacity: 1;
}


/* keyframes */
@keyframes slideText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}